{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nomrecette</th>
                <td>{{ recette.nomrecette }}</td>
            </tr>
            <tr>
                <th>Typerecette</th>
                <td>{{ recette.typerecette }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ recette.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ recette.image }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ recette.etat }}</td>
            </tr>
            <tr>
                <th>Idcoach</th>
                <td>{{ recette.idcoach }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('recette_index') }}">back to list</a>

    <a href="{{ path('recette_edit', {'idrecette': recette.idrecette}) }}">edit</a>

    <form method="post" action="{{ path('recette_delete', {'idrecette': recette.idrecette}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <button class="btn btn-danger btn-round">Delete</button>
    </form>
{% endblock %}
