{% extends 'front.html.twig' %}

{% block title %}Ingredientrecette index{% endblock %}

{% block body %}
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="page-header-title">
                        <h4>Ingredient List</h4>
                    </div>
                    <div class="page-header-breadcrumb">
                        <ul class="breadcrumb-title">
                            <li class="breadcrumb-item">
                                <a href="index-2.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Ingredient</a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Ingredient List</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-header">
                                    <h5>Ingredient List</h5>
                                    <form action="{{ path('ingredientrecette_new') }}" method="post">

                                        <button class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger" data-modal="modal-13"> <i class="icofont icofont-plus m-r-5" href="{{ path('ingredient_new') }}"></i> Add Ingredient</button>
                                    </form>
                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <div class="table-content">
                                            <div class="project-table">
                                                <form action="{{ path('tri') }}" method="get">
                                                    <div class="checkbox-fade fade-in-success">
                                                        <label>
                                                            <input type="checkbox" name="ingredient" id="ingredient">
                                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-success"></i></span> <span>Ingredient</span>
                                                        </label>
                                                    </div>
                                                    <br>
                                                    <div class="checkbox-fade fade-in-info">
                                                        <label>
                                                            <input type="checkbox" name="recette" id="recette" >
                                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-info"></i></span><span>Recette</span>
                                                        </label>
                                                    </div>

                                                    <br>
                                                    <button class="btn btn-inverse" data-toggle="tooltip" data-placement="top" title="" data-original-title=".icofont icofont-search-alt-2">
                                                        <i class="icofont icofont-search-alt-2"></i>
                                                    </button>
                                                </form>
                                                <br>
                                                <table id="e-product-list" class="table table-striped dt-responsive nowrap">
                                                    <thead>
                                                    <tr>
                                                        <th>Ingredient</th>
                                                        <th>Recette</th>
                                                        <th>Quantite</th>
                                                        <th>actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for ingredientrecette in ingredientrecettes %}

                                                        <tr>
                                                            <td>{{ ingredientrecette.idingredient }}</td>
                                                            <td>{{ ingredientrecette.idrecette }}</td>
                                                            <td>{{ ingredientrecette.quantite }}</td>
                                                            <td class="action-icon">
                                                                <form method="post" action="{{ path('ingredientrecette_edit', {'id': ingredientrecette.id}) }}" style="display:inline-block">
                                                                    <button class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Edit" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;"><i class="icofont icofont-ui-edit"></i></button>
                                                                </form>
                                                                <form method="post" action="{{ path('ingredientrecette_delete', {'id': ingredientrecette.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" style="display:inline-block">
                                                                    <button class="text-muted" data-toggle="tooltip" data-placement="top" data-original-title="Delete" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;"><i class="icofont icofont-delete-alt"></i></button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>




                </div>

            </div>
        </div>


    </div>
    </div>
    </div>

{% endblock %}
