{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from flatable.phoenixcoded.net/default/user-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Jan 2019 11:43:04 GMT -->
<head>
<title>Profile</title>


<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="Phoenixcoded">
<meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
<meta name="author" content="Phoenixcoded">

<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/font-awesome/css/font-awesome.min.css')}}">

<link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/advance-elements/css/bootstrap-datetimepicker.css')}}">

<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/bootstrap-daterangepicker/daterangepicker.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/datedropper/datedropper.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}">


<link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/themify-icons/themify-icons.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/icofont/css/icofont.css')}}">


    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/flag-icon/flag-icon.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/menu-search/css/component.css')}}">


    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/color/color-1.css')}}" id="color" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/linearicons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/simple-line-icons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/ionicons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.mCustomScrollbar.css')}}">
            <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

</head>
<body>
<br>
<br>
<h4><center>Changer Mot de Passe</center></h4>
<br>

<br>
<div class="pcoded-content">
<div class="pcoded-inner-content">
<div class="main-body user-profile">
<div class="page-wrapper">
<div class="row">
<div class="col-lg-12">
<div class="tab-content">
<div class="tab-pane active" id="personal" role="tabpanel">
<div class="card">
<div class="card-header">
<h5 class="card-header-text">Changer..</h5>
<button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right">
<i class="icofont icofont-edit"></i>
</button>
</div>
<div class="card-block">
<div class="edit-info">
   <div class="row">
     <div class="col-lg-12">
         <div class="general-info">
             <div class="row">
                 <div class="col-lg-6">
                 {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                     <table class="table">
                         <tbody>
                             <tr>
                                 <td>
                                     <div class="input-group">
                                         <span class="input-group-addon"><i class="icofont icofont-email"></i></span>
                                         
                                         {{ form_errors(form.email) }}
                                         {{ form_widget(form.email,{'attr': {'class': 'form-control' , 'placeholder' : 'Email'}}) }} 
                                     </div>
                                 </td>
                             </tr>
                             <tr>
<td>
<div class="input-group">
                                         <span class="input-group-addon"><i class="icofont icofont-unlocked"></i></span>
{{ form_errors(form.ancien) }}
                                         {{ form_widget(form.ancien,{'attr': {'class': 'form-control' , 'placeholder' : 'Ancien Mo de passe'}}) }}

 </div>                   
</td>
                                </tr>
                                    
                                    <tr>

</tbody>
</table>
</div>

<div class="col-lg-6">
                <table class="table">
                            <tbody>
                                        <tr>
<td>
<div class="input-group">
<span class="input-group-addon"><i class="icofont icofont-lock"></i></span>
{{ form_errors(form.mdp) }}
                                         {{ form_widget(form.mdp,{'attr': {'class': 'form-control' , 'placeholder' : 'Nouveau Mot de passe'}}) }}
</div>
</td>
</tr>
                        <tr>
                    <td>
            <div class="input-group">
                    <span class="input-group-addon"><i class="icofont icofont-lock "></i></span>
        {{ form_errors(form.confirm) }}
                                         {{ form_widget(form.confirm,{'attr': {'class': 'form-control' , 'placeholder' : 'Retaper pour confirmer'}}) }}
            </div>
            </td>
            </tr>

                </tbody>
                </table>
</div>

</div>

<div class="text-center">

{{ form_widget(form.Modifier,{'attr': {'class': 'btn btn-primary waves-effect waves-light m-r-20', 'placeholder' : 'Modifier'}}) }}
<a href="#!" id="edit-cancel" class="btn btn-default waves-effect">Annuler</a>

<br>
<br>
</div>
{{ form_end(form) }}
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}
{% block js %}
    <script data-cfasync="false" src="{{ asset('../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/jquery/dist/jquery.min.js')}}" ></script>
    <script src="{{ asset('../bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/tether/dist/js/tether.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/pages/advance-elements/moment-with-locales.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('assets/pages/advance-elements/moment-with-locales.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/datedropper/datedropper.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/pages/advance-elements/bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/ckeditor/ckeditor.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('assets/pages/chart/echarts/js/echarts-all.js')}}"></script>
    <script src="{{ asset('assets/pages/user-profile.js')}}"></script>
      <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset ('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    <!-- Include Flashy default partial -->
    {{ include ('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
   
    
</html>
{% endblock %}


