{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from flatable.phoenixcoded.net/default/user-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Jan 2019 11:43:04 GMT -->
<head>
<title>Profil</title>


<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="Phoenixcoded">
<meta name="keywords" content=", Flat ui, Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
<meta name="author" content="Phoenixcoded">

<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/font-awesome/css/font-awesome.min.css')}}">

<link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/advance-elements/css/bootstrap-datetimepicker.css')}}">

<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/bootstrap-daterangepicker/daterangepicker.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/datedropper/datedropper.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('../bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}">


<link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/themify-icons/themify-icons.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/icon/icofont/css/icofont.css')}}">


    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/flag-icon/flag-icon.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/pages/menu-search/css/component.css')}}">


    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/color/color-1.css')}}" id="color" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/linearicons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/simple-line-icons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/ionicons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.mCustomScrollbar.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
</head>
<body>
<section id="main-content">
      <section class="wrapper">
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="send-message">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Modifier Ma Photo</h2>
              <img src="{{ asset('/uploads/'~session.all.Utilisateur.photo )}}" alt="User-Profile-Image">
            </div>
          </div>
          <div class="col-md-8">
            <div class="contact-form">
              <form id="contact" action="" method="post">
              {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
              
                <div class="row">
                 
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <fieldset>
                    {{ form_errors(form.photo) }}
                     {{ form_widget(form.photo,{'attr': {'class': 'form-control' , 'placeholder' : 'Photo'}}) }}
                    </fieldset>
                  </div>
                  
 <br></br>
                  <div class="row row-space">
                      <div class="col-2">
                        <div class="input-group">
                        <br></br>
                        {{ form_widget(form.Modifier,{'attr': {'class': 'btn btn-danger ', 'placeholder' : 'Modifier'}}) }}

                        </div>
                         </div>
                         
                </div>
              </form>
              {{ form_end(form) }}
            </div>
          </div>
          </div>
</div>
</section>
{% endblock %}
{% block js %}
    <script data-cfasync="false" src="{{ asset('../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/jquery/dist/jquery.min.js')}}" ></script>
    <script src="{{ asset('../bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/tether/dist/js/tether.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/jquery-slimscroll/jquery.slimscroll.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/pages/advance-elements/moment-with-locales.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('assets/pages/advance-elements/moment-with-locales.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/datedropper/datedropper.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/pages/advance-elements/bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('../bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('../bower_components/ckeditor/ckeditor.js')}}"></script>
    <script type="text/javascript"  src="{{ asset('assets/pages/chart/echarts/js/echarts-all.js')}}"></script>
    <script src="{{ asset('assets/pages/user-profile.js')}}"></script>
      <script src="{{ asset('assets/pages/user-profile.js')}}"></script>

    </body>
</html>
{% endblock %}
